@import "../base/mixin";

.banner {
    display: flex;
    padding: 26px 99px 0 135px;

    &-intro {
        padding-top: 88px;

        &-title {
            color: #0b1b35;
            font-family: Ageo;
            font-size: 70px;
            font-style: normal;
            font-weight: 850;
            line-height: 81px;
            padding-right: 7px;
            // width: 653px;
            // height: 260px;
            // flex-shrink: 0;
        }

        &-description {
            padding-top: 30px;
            color: #000;
            font-family: Ageo;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 28.5px;
            width: 540px;
        }

        &-button {
            display: flex;
            align-items: center;

            &-started {
                padding: 11px 34px 9px;
                @include header-link-home;
                margin: 66px 28px 0 0;
                @include header-button-signUp;
            }

            &-icon {
                // width: 50px;
                // height: 60px;
                padding: 61px 25px 0 0;
            }

            &-link {
                text-decoration: none;
                color: #000;
                font-family: Ageo;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 28.5px;
                padding: 76px 140px 0 0;
            }
        }
    }

    &-img {
        margin-left: -41px;
    }
}
